Repository eludadev/eludadev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css}": "prettier --write",
  "*.{ts,tsx,js,jsx}": "eslint --fix"
}

Build mobile-layout homepage sections and contact form, with internationalization.
  messages/en.json
  messages/fr.json
  next.config.js
  package.json
  public/assets/photo-frame.svg
  public/assets/working.svg
  public/favicon.ico
  src/app/[locale]/page.tsx
  src/app/fonts/SFUIText-Bold.woff
  src/app/fonts/SFUIText-BoldItalic.woff
  src/app/fonts/SFUIText-Heavy.woff
  src/app/fonts/SFUIText-HeavyItalic.woff
  src/app/fonts/SFUIText-Light.woff
  src/app/fonts/SFUIText-LightItalic.woff
  src/app/fonts/SFUIText-Medium.woff
  src/app/fonts/SFUIText-MediumItalic.woff
  src/app/fonts/SFUIText-Regular.woff
  src/app/fonts/SFUIText-RegularItalic.woff
  src/app/fonts/SFUIText-Semibold.woff
  src/app/fonts/SFUIText-SemiboldItalic.woff
  src/app/layout.tsx
  src/app/page.tsx
  src/assets/headshot.png
  src/components/App/TopNav.tsx
  src/components/Display/LinkCard.tsx
  src/components/Forms/ContactForm.tsx
  src/components/HomeSections/HeroSection.tsx
  src/components/HomeSections/InfoSection.tsx
  src/components/HomeSections/StorySection.tsx
  src/components/Icons/EludaLogo.tsx
  src/components/Icons/MenuIcon.tsx
  src/components/Icons/RightArrowIcon.tsx
  src/components/Interactive/ExternalLink.tsx
  src/components/Interactive/FormInput.tsx
  src/components/Interactive/InternalLink.tsx
  src/components/Interactive/MultilineInput.tsx
  src/components/Interactive/SubmitButton.tsx
  src/i18n.ts
  src/middleware.ts
  yarn.lock
Due: prettier --write, eslint --fix

Build menu as shown.
  messages/en.json
  src/app/layout.tsx
  src/app/page.tsx
  src/components/App/TopNav.tsx
  src/components/Interactive/MenuLink.tsx
  src/components/Menu/MainMenu.tsx
  src/components/Sections/HeroSection.tsx
  src/components/Sections/InfoSection.tsx
  src/components/Sections/StorySection.tsx
Due: prettier --write, eslint --fix

Toggle menu using React Context and animate shapes and colors for the transition.
  src/app/layout.tsx
  src/components/App/TopNav.tsx
  src/components/Icons/EludaLogo.tsx
  src/components/Icons/MenuIcon.tsx
  src/components/Icons/MenuIcon/MenuIcon.module.css
  src/components/Icons/MenuIcon/MenuIcon.tsx
  src/components/Menu/MainMenu.tsx
  src/context/Navigation.tsx
  src/hooks/useLockBody.ts
  src/hooks/useToggle.ts
  tailwind.config.js
Due: prettier --write, eslint --fix

Make hero section responsive on desktop.
  src/app/layout.tsx
  src/components/Sections/HeroSection.tsx
Due: prettier --write, eslint --fix

Make other home sections responsive on desktop.
  src/app/page.tsx
  src/components/Display/LinkCard.tsx
  src/components/Forms/ContactForm.tsx
  src/components/Interactive/ExternalLink.tsx
  src/components/Interactive/FormInput.tsx
  src/components/Interactive/InternalLink.tsx
  src/components/Interactive/MultilineInput.tsx
  src/components/Interactive/SubmitButton.tsx
  src/components/Sections/HeroSection.tsx
  src/components/Sections/InfoSection.tsx
  src/components/Sections/StorySection.tsx
Due: prettier --write, eslint --fix

Make the menu responsive on desktop.
  src/components/App/TopNav.tsx
  src/components/Menu/MainMenu.tsx
Due: prettier --write, eslint --fix

Add license file.
  LICENSE
Due: none

Add portfolio page and its details.
  messages/en.json
  src/app/(Portfolio)/layout.tsx
  src/app/(Portfolio)/page.tsx
  src/app/(Resume)/resume/layout.tsx
  src/app/(Resume)/resume/page.tsx
  src/app/layout.tsx
  src/components/Display/ResumeExperience.tsx
  src/components/Interactive/MenuLink.tsx
  src/components/Menu/MainMenu.tsx
  src/components/Resume/ResumeDetails.tsx
Due: prettier --write, eslint --fix

Build resume sidenav and links, with internationalization.
  messages/en.json
  src/app/(Resume)/resume/page.tsx
  src/components/Display/ProfileCard.tsx
  src/components/Display/ResumeExperience.tsx
  src/components/Display/TechStack.tsx
  src/components/Icons/DownloadIcon.tsx
  src/components/Icons/LinkedInLogo.tsx
  src/components/Icons/MailIcon.tsx
  src/components/Resume/ResumeDetails.tsx
Due: prettier --write, eslint --fix

Fix footer resume link.
  src/app/(Portfolio)/page.tsx
Due: prettier --write, eslint --fix

Add developer README.
  README.md
Due: none

Change portfolio and resume content.
  messages/en.json
  public/resume.pdf
  src/components/Interactive/MenuLink.tsx
  src/components/Menu/MainMenu.tsx
  src/components/Sections/StorySection.tsx
Due: prettier --write, eslint --fix

Modify media contents
  messages/en.json
  public/assets/working.svg
  src/app/(Portfolio)/page.tsx
  src/assets/headshot.png
  src/components/Interactive/InternalLink.tsx
  src/components/Menu/MainMenu.tsx
Due: prettier --write, eslint --fix

Downscale headshot photo.
  src/assets/headshot.png
Due: none

Add Reddit link.
  messages/en.json
  src/app/(Portfolio)/page.tsx
  src/components/Menu/MainMenu.tsx
Due: prettier --write, eslint --fix

Add Vercel Analytics.
  package.json
  src/app/layout.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Update portfolio and resume info/file.
  messages/en.json
  public/resume.pdf
Due: prettier --write

Update portfolio to most recent experience.
  messages/en.json
  public/resume.pdf
  src/app/(Resume)/resume/page.tsx
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: none
